<div class="wrapper">
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" style="color: black;" href="#">Pollería "Ekekos Chiken & Grill"</a>
        <div class="d-flex align-items-center">
          <a routerLink="/auth" class="nav-link">
            <i class="fas fa-sign-in-alt"></i> Iniciar Sesión
          </a>
        </div>
      </div>
    </nav>
  </header>

  <main class="flex-fill">
    <section class="hero-section bg-dark text-white text-center py-5">
      <div class="container">
        <h1 class="display-4">Disfruta del auténtico sabor</h1>
        <p class="lead">El mejor pollo a la brasa de la ciudad, acompañado de nuestras exclusivas salsas.</p>
        <a href="#" class="btn btn-outline-light mt-3">Explora nuestro menú</a>
      </div>
    </section>
  
    <section class="platos-destacados py-5">
      <div class="container">
        <h2 class="text-center mb-4">Nuestros Platos Estrella</h2>
        <div class="d-flex flex-nowrap overflow-auto">
          
          <div class="card m-2" style="min-width: 18rem;">
            
          </div>
          
        </div>
      </div>
    </section>
  </main>

  <footer class="footer" class="py-4 bg-dark mt-auto">
    <div class="container-fluid px-4" class="text-center" style="color: white;">
      © 2024 Pollería "Ekekos Chiken & Grill". Todos los derechos reservados.
    </div>
  </footer>
</div>
